server {
  listen       ${PORT};
  listen  [::]:${PORT};
  server_name  _;

  root   /usr/share/nginx/html;
  index  index.html;

  # Lightweight health endpoint
  location = /health {
    access_log off;
    add_header Cache-Control "no-store";
    return 200 "OK";
  }

  location / {
    try_files $uri $uri/ /index.html;
  }
}
